@import "../../config";

.mobileNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 1rem;
  @extend .spaceBetween;
  z-index: 99;
  background-color: white;

  @include medium {
    display: none;
  }

  .cartIcon {
    position: relative;

    div {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      background-color: black;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      color: white;
      @extend .center;
    }
  }

  svg {
    font-size: 1.3rem;
    color: $dark-black;
  }
}
